*.DS_Store
*.ipynb_checkpoints
*.o
*.a
*.out
*.tar.gz

.cache/
.ccls-cache/
.eggs/
__pycache__/
basegraph.egg-info/
build/
_skbuild/
local_install/
Testing/
dist/

compile_commands.json

examples/CMakeCache.txt
examples/CMakeFiles
examples/Makefile
examples/cmake_install.cmake

basegraph/*
!basegraph/__init__.py

src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/libBaseGraph.a

docs/_build/
