*.DS_Store
*.ipynb_checkpoints
*.out
*.tar.gz
*.o

build/
.eggs/
.cache/
pgl.egg-info/

compile_commands.json

example/CMakeFiles
example/cpp_example
example/Makefile
example/cmake_install.cmake
example/CMakeCache.txt

src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/libBaseGraph.a
