*.DS_Store
*.ipynb_checkpoints
*.o
*.a
*.out
*.tar.gz

.cache/
.ccls-cache/
.eggs/
__pycache__/
basegraph.egg-info/
build/
_skbuild/
local_install/

compile_commands.json

example/CMakeCache.txt
example/CMakeFiles
example/Makefile
example/cmake_install.cmake
example/cpp_example

basegraph/*
!basegraph/__init__.py

include/BaseGraph/extensions

src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/libBaseGraph.a

docs/_build/
